html, body {
    height: 100%;
    background-image:url(https://images.unsplash.com/photo-1558559294-e31a9d3bb51c?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(173, 160, 160, 0.39);
}
main {
    flex: 1;
    padding-top: 100px;
}
a:hover {
    color: pink;
}
header {
    position: fixed;
    top: 10;
    left: 10;
    right: 10;
    width: 90%;
    background-color: rgba(136, 125, 125, 0.39);
    color: beige;
    
}
h1 {
    padding-left: 35px;
}
#floatMe {
    float: right;
    padding-top: 115px;
    padding-right: 10px;
    height: auto;
    width: 400px;
}
#note {
    font-style: italic;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: rgba(136, 125, 125, 0.39);
    color:beige;
    padding: 2px;
}
.changeColor {
    color: chocolate;
}
#userForm {
    padding-top: 100px;
    flex: 0 1 80%;
}
#container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
table {
    position: relative;
    left: 10px;
}
aside {
    flex: 0 1 20%;
    width: 30%;
    height: 50%;
    background-color: lightblue;
    padding-top: 100px;

}
    
input {
    position: relative;
    left: 120px;
}
